body{
  width: 100%;
}
.route {
    font-size: 24px;
    font-weight: bold;
    color: #1867AA;
}
#sort{
    width: 364px;
    display: flex;
    gap: 16px;
    justify-content: center;
    align-items: center;
    margin: auto auto 16px auto;
}
#sort span {
    color: #428BCA;
}
#timeStart{
  width: 77px;
  margin-right: 12px;
  border-radius: 4px;
}
#sortPrice{
  width: 90px;
  border-radius: 4px;
}
.title {
    font-weight: bold;
    margin: 0;
    font-size: 12px;
}
#content{
    display: flex;
    justify-content: center;
}
#left{
    width: 260px;
    border: 1px solid lightgray;
    border-radius: 8px;
    padding: 24px;
    height: 656px;
}
#right{
    width: 820px;
    border-radius: 15px;
    height: 100%;
}
.font-size-12{
    font-size: 12px;
}
.font-size-14 {
    font-size: 14px;
}
.font-size-20{
  font-size: 20px;
}
.color767676{
    color: #767676;
}

/*Range kéo*/
.slider-container {
  position: relative;
  height: 35px;
}
input[type="range"] {
  position: absolute; /*2 range chồng lên nhau*/
  width: 100%;
  pointer-events: none; /*Tắt sự kiển chỉ để núm trong tương tác. bỏ sự kiện click chuột để chỉnh range*/
  -webkit-appearance: none; /* Tắt style mặc định của trình duyệt WebKit*/
  background: transparent;
  top: 28px;
}
input[type="range"]::-webkit-slider-thumb { /*Chỉ có núm tròn mới tương tác với rangerange*/
  pointer-events: all;
  -webkit-appearance: none;
  height: 18px;
  width: 18px;
  background: #0d6efd;
  border-radius: 50%;
  border: none;
  margin-top: -8px;
}
.range-track {
  position: absolute;
  top: 28px;
  height: 4px;
  width: 100%;
  background-color: #cfe2ff;
  border-radius: 2px;
  z-index: 0;
}
.range-active-track {
  position: absolute;
  top: 28px;
  height: 4px;
  background-color: #0d6efd;
  border-radius: 2px;
  z-index: 1;
}
.detail{
  display: grid;
  column-gap: 36px;
  grid-template-columns: auto auto auto;
}
.itemGrid p{
  margin: 0;
}
.arrow{
  width: 43px;
  height: 16px;
}
.moreDetail {
  grid-column: span 2;
  white-space: nowrap;
}
.italic{
  font-style: italic;
}
#banner{
  display: block;
  margin: 0 auto;
}
.card{
  width: 820px;
  height: 186px;
  border-radius: 8px;
  margin-left: 20px;
  padding: 24px;
  margin-bottom: 16px;
}
.info{
  width: 469px;
}
.price {
  width: 111px;
  height: 118px;
  margin: 20px 0 0 48px;
}
.price p{
  margin: 0;
}
.price .cost{
  margin-bottom: 8px;
}
.price .slot{
  margin-bottom: 26px;
  text-align: end;
}
.btnChoose{
  color: #767676;
  width: 111px;
  padding: 10px 16px;
  border: none;
  border-radius: 5px;
  background-color: #E5A100;
}

.nav-tabs .nav-link {
    color: black;
    border: none;
}

.nav-tabs .nav-link.active {
    color: #007bff !important;
    border-bottom: 2px solid #007bff !important; /* Chỉ thêm viền dưới khi tab được chọn */
}
.imgCard{
  width: 100px;
  height: 100px;
  border-radius: 5px;
  /* margin: 24px 20px auto 24px; */
}
.detailCard{
  display: grid;
  grid-template-columns: repeat(3,auto);
  column-gap: 24px;
}
#sortKit{
  display: none;
}
.timeAvg{
  height: 34px;
}
@media (max-width: 768px) {
  body {
    width: 768px;
  }
  #sort{
    width: 736px;
  }
  #sortKit{
  display: block;
  }
  #sortKitTitle{
    display: none;
  }
  #left {
      display: none;
  }
  #right{
    margin-bottom: 64px;
  }
  #banner{
    display: none;
  }
  #sort{
    justify-content: space-between;
  }
  .price{
    grid-column: span 2;
    margin: 0;
    width: 692px;
    height: 52px;
    display: flex;
    justify-content: space-between;
  }
  .cost{
    width: 102px;
  }
  .btnChoose{
    width: 111px;
    height: 40px;
  }
  .info{
    width: 568px;
  }
  .card{
    width: 736px;
    margin-left: 16px;
    margin-right: 16px;
    margin-bottom: 20px;
  }
  .detailCard{
  display: grid;
  grid-template-columns: repeat(2,auto);
  column-gap: 24px;
  }
    .hide-div{
    display: none !important;
  }
}
@media (max-width: 390px) {
  body {
    width: 390px;
  }
  #sort{
    width: 358px;
  }
  #right{
    width: 390px;
  }
  .card-title{
    font-size: 16px;
  }
  .detail{
    height: 102px;
    column-gap: 0px;
  }
  .moreDetail{
    font-size: 12px;
  }
  #left {
      display: none;
  }
  #banner{
    display: none;
  }
  .info{
      width: 206px;
      height: 176px;
  }
  .price{
    grid-column: span 2;
    margin: 10.4px 0 0 0;
    width: 326px;
    height: 52px;
    display: flex;
    justify-content: space-between;
  }
  .btnChoose{
    width: 111px;
    height: 40px;
  }
  .card{
    width: 358px;
    height: 272px;
    padding: 16px;
    margin-left: 16px;
    margin-right: 16px;
    margin-bottom: 16px;
  }
  .card-title{
    margin: 0;
  }
  .detailCard{
    display: grid;
    grid-template-columns: repeat(2,auto);
    column-gap: 20px;
  }
  .info .detail{
    width: 206px;
    display: grid;
    grid-template-columns: auto auto auto;
  }
  .moreDetail {
    grid-column: span 3;
    text-wrap: wrap;
  }
  .hide-div{
    display: none !important;
  }
  .timeAvg{
    height: 34px;
    width: 43px;
    text-align: center;
  }
}
