main {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 64px;
}

body {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

* {
  box-sizing: border-box;
}

.bus-card-lac {
  padding: 0px;
  font-family: 'Segoe UI', sans-serif;
  width: 100%;
  max-width: 260px;
  height: 219px;
  border-radius: 10px;
  background: rgba(255, 255, 255, 0);
  border: 1px solid rgba(236, 238, 235, 1);
  box-shadow: 0px 5px 5px 0px rgba(76, 76, 76, 0.1);
}



.bus-card {
  font-family: 'Segoe UI', sans-serif;
  width: 100%;
  max-width: 260px;
  height: 250px;
  border-radius: 10px;
  background: rgba(255, 255, 255, 0);
  border: 1px solid rgba(236, 238, 235, 1);
  box-shadow: 0px 5px 5px 0px rgba(76, 76, 76, 0.1);
  padding: 16px;
}

.bus-card img,
.bus-card-lac img {
  width: 100%;
  height: auto;
  aspect-ratio: 4 / 3;
  object-fit: cover;
  border-radius: 0.5rem;
}

.bus-card img {
  height: 159px;
  width: 228px;
}

.bus-card-lac img {
  height: 170px;
  width: 260px;
}

.textInCard {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-top: 0.5rem;
}



.textInCard p,
.bus-card p,
.bus-card-lac p {
  font-family: 'Segoe UI', sans-serif;
  font-weight: 700;
  font-size: 1.125rem;
  color: rgba(0, 97, 61, 1);
  margin: 0px;
  width: 100%;
}

.bus-card-lac p {
  color: #000000;
  padding: 10px 0px 0px 10px;
}

.textInCard span {
  font-family: 'Segoe UI', sans-serif;
  font-weight: 400;
  font-size: 0.875rem;
  color: rgba(61, 84, 165, 1);
  width: 100%;
}

.Popular-Garages {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;

}

.title-bus {
  font-family: 'Segoe UI', sans-serif;
  font-size: 1.5rem;
  padding-left: 10px;
  border-left: 4px solid rgba(255, 169, 1, 1);
  width: 100%;
  max-width: 1120px;
  box-sizing: border-box;
  margin: 0 auto;
  margin-bottom: 24px;
}

.bus-garages {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  gap: 16px;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 64px;
  margin-bottom: 80px;
  width: 100%;
  padding: 0 16px;
}

.all-Bus-Card,
.all-Bus-Card-lac {
  display: flex;
  gap: 20px;
  justify-content: center;
  max-width: 1100px;
}

.Feature-offers {
  width: 100%;
  padding: 0 16px;
}

.lac {
  width: 100%;
  max-width: 1110px;
}

.bus {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;
  width: 100%;
  max-width: 1120px;
  margin: 0 auto;
  box-sizing: border-box;
}

.lac {
  width: 100%;
  max-width: 1110px;
  height: 146px;
  object-fit: cover;
  border-radius: 8px;
}


.bus {
  max-width: 1196px;
  width: 100%;
}

.bus .so2 {
  max-width: 1px;
  width: 100%;
  max-width: 100%;
  height: auto;
}

/* ===================== Responsive ===================== */



@media (max-width: 768px) {

  .all-Bus-Card .bus-card:nth-child(n+4) {
    display: none;
  }

  .all-Bus-Card .bus-card-lac:nth-child(n+4) {
    display: none;
  }

  .all-Bus-Card-lac .bus-card:nth-child(n+4) {
    display: none;
  }

  .all-Bus-Card-lac .bus-card-lac:nth-child(n+4) {
    display: none;
  }

  .bus-card {
    max-width: 232px;
  }

  .bus-card img {
    width: 200px;
    height: 159px;
  }

  .bus-card-lac img {
    width: 232px;
    height: 170px;
  }

  .bus-card-lac {
    max-width: 232px;
    height: 219px;
  }

  .bus-garages,
  .bus {
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    width: 100%;
  }

  .so2 {
    flex-basis: 100%;
    order: 1;
  }

  .so1,
  .so3 {
    order: 2;
  }

  .all-Bus-Card,
  .all-Bus-Card-lac {
    max-width: 100%;
  }

  .lac {
    width: 736px;
    height: 98px;
  }

}

@media (max-width: 391px) {


  .all-Bus-Card .bus-card:nth-child(n+2) {
    display: none;
  }

  .all-Bus-Card .bus-card-lac:nth-child(n+2) {
    display: none;
  }


  .all-Bus-Card-lac .bus-card:nth-child(n+2) {
    display: none;
  }

  .all-Bus-Card-lac .bus-card-lac:nth-child(n+2) {
    display: none;
  }


  .all-Bus-Card {
    width: 358px;
    height: 250px;
    min-width: 358px;
    max-width: 358px;
    overflow-x: auto;
  }

  .bus-card {
    width: 358px;
    min-width: 358px;
    max-width: 358px;
    height: 250px;
    box-sizing: border-box;
  }

  .bus-card img {
    width: 326px;
    min-width: 326px;
    max-width: 326px;
    height: 159px;
    object-fit: cover;
    box-sizing: border-box;
  }




  .lac {
    width: 358px;
  }





  .bus-card-lac {
    width: 358px;
    min-width: 358px;
    max-width: 358px;
    height: 219px;
    box-sizing: border-box;
  }



  .all-Bus-Card-lac {
    width: 358px;
    min-width: 358px;
    max-width: 358px;
    height: 219px;
    box-sizing: border-box;
  }

  .bus-card-lac img {
    width: 358px;
    min-width: 326px;
    max-width: 358px;
    height: 170px;
    box-sizing: border-box;
  }


}













/* ================= Top Reviews ================= */

.top-Reviews {
  display: flex;
  flex-direction: column;
  gap: 24px;
  justify-content: center;
  width: 100%;
  align-items: center;
}

.gird-1 {
  display: grid;
  grid-template-columns: 2.5fr 1fr;
  gap: 10px;
}



.grid-2 {
  display: grid;
  grid-template-columns: 1fr 2.5fr;
  gap: 10px;

}

.left-images {
  display: grid;
  grid-template-rows: 1fr 1fr;
  gap: 10px;
}



.grid-3 {
  display: grid;
  grid-template-columns: 2.5fr 1fr;
  gap: 10px;

}

.all-Reviews {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 100%;
  max-width: 1110px;
  justify-content: center;
  align-items: center;
}

.all-Reviews img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}



/* ================= Responsive Tablet ================= */

@media (max-width: 768px) {

  body,
  main {
    width: 100%;
  }

  .top-Reviews {
    width: 100%;

  }



  .all-Reviews {
    width: 100%;
    gap: 8px;
  }

  .gird-1,
  .grid-2,
  .grid-3 {
    width: 100%;
    gap: 8px;
    height: 240px;
  }

}

/* ================= Responsive Mobile ================= */

@media (max-width: 391px) {

  body,
  main {
    width: 100%;
  }

  .top-Reviews {
    width: 100%;
  }

  .all-Reviews {
    gap: 3.25px;
  }

  .gird-1,
  .grid-2,
  .grid-3 {
    gap: 3.25px;
  }

}




@media (max-width: 391px) {
  .all-Reviews {
    gap: 3.25px;
  }
  .gird-1,
  .grid-2,
  .grid-3 {
    
    width: 100%;
    gap: 3.25px;
    height: auto; 
  }
  .gird-1 img,
  .grid-2 img,
  .grid-3 img {
    width: 100%;
    object-fit: cover;
    display: block;
  }
}

.left-images{
  gap: 3.25px;
}














main {
  margin-top: 60px;
}




.Featured_section {
  width: 100%;
  max-width: 1100px;
  height: 216px;
}


.feature-text h3 {
  font-family: Segoe UI;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0%;
  vertical-align: middle;
  text-transform: uppercase;
}

.feature-heading {
  padding: 0px;
  margin: 0px;
}

.feature-text p {
  font-family: Segoe UI;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0%;
  vertical-align: middle;
  padding: 0px;
  margin: 0px;
}

.features-list {
  max-width: 1100px;
  width: 100%;
  height: auto;
  height: 152px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 210px;
}

.left-feature-item {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
  gap: 20px;
}

.right-feature-item {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
  gap: 20px;
}

.feature-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.feature-item {
  display: flex;
  align-items: center;
  gap: 15px;


}

@media (max-width: 768px) {
  .Featured_section {
    margin-bottom: 100px;
  }

  .features-list {
    gap: 20px;
  }
}



@media (max-width: 391px) {
  .features-list {
    grid-template-columns: repeat(1, 1fr);

  }

  .features-list {
    gap: 20px;
  }

  .Featured_section {
    margin-bottom: 100px;
  }
}













.media-mentions {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  box-sizing: border-box;
  overflow: hidden;
}

.media-logos {
  display: flex;
  flex-wrap: nowrap;
  overflow: hidden;
  gap: 15px;
  width: 100%;
  max-width: 1110px;
  justify-content: start;
}

.media-logo-wrapper {
  flex: 0 0 auto;
  width: 179px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.media-logo {
  max-height: 100%;
  max-width: 100%;
  object-fit: contain;
}

@media (max-width: 391px) {
  .media-mentions {
    margin-top: 200px;
  }
}