.container .my-4 {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.search-tab {
  max-width: 1170px;
  width: 100%;
  margin: 0 auto;
  padding: 20px 15px;
  background: #FFFFFFB2;
  border: 1px solid #E0E0E0;
  border-radius: 10px;
}

.search-box {
  position: relative;
  border: none;
  background: #fff;
  border: 2px solid #ddd;
  border-radius: 10px;
  text-align: center;
  /* transition: border-color 0.2s; */
  height: 100%;
  padding: 20px 12px;

  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.03);

  display: flex;
  flex-direction: column;
  justify-content: center;
}
.search-box select.form-select {
  border: none;
  box-shadow: none;
  background-color: transparent;
  text-align: center;
}
.search-box.active,
.search-box:focus-within {
  border-color: #222;
}

/* dropdown-list */
.dropdown-list {
  display: none;
  position: absolute;
  top: calc(100% + 4px);
  left: 0;
  right: 0;
  background: #fff;
  border: 1px solid #ddd;
  border-radius: 6px;
  max-height: 366px;
  overflow-y: auto;
  z-index: 10;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

.dropdown-list .item {
  padding: 8px 12px;
  cursor: pointer;
}

.dropdown-list .item:hover {
  background: #f5f5f5;
}

/* btn */
.search-btn {
  background: #ffb300;
  color: #fff;
  border-radius: 10px;
  border: none;
  font-size: 1.2rem;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.05);
  transition: background 0.2s;
  padding: 1rem 0;
}

.search-btn:hover {
  background: #ffa000;
}

.search-box.p-0 {
  padding: 0;
}

.search-box.p-0 .search-btn {
  flex: 1;
  height: 100%;
  padding: 0;
}

/* force tablet stacking at <=768px */
@media (max-width: 768px) {
  .col-md-3 {
    flex: 0 0 100% !important;
    max-width: 100% !important;
  }
}
